@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}

.bg {
    background: linear-gradient(45deg, #eef2ff, #faf5ff);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo {
    height: 95vh;
    width: 95vw;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.titulo {
    font-size: 50px;  
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 700;
    background-image: linear-gradient(90deg ,#4f46e5, #9333ea);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: end;
}

.inputs div {
    background-color: rgba(255, 255, 255, 0.5);
}

.inputs div:nth-child(1) {
    border: 2px solid;
    border-color: #e0e7ff;
    border-radius: 20px;
    padding: 10px;
}

.inputs div:nth-child(2) {
    border: 2px solid;
    border-color: #f3e8ff;
    border-radius: 20px;
    padding: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 230px;
    user-select: none;
  }
  
  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #18181b;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -4px;
    background-color: white;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid white;
    outline-offset: 0.125rem;
  }

.tamanho-mascara {
    color: #4f46e5;
    font-weight: 500;
}

.tamanho-olho {
    color: #9333ea;
    font-weight: 500;
}

.img-inputada {
    height: 95%;
    position: absolute;
    left: 25%;
}

.mascara-olho {
    position: absolute;
    width: 40%;
    z-index: 999;
}

.botoes {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.botoes button {
    all: unset;
    width: 230px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid transparent;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.botoes button:nth-child(1) {
    border-radius: 9999px;
    border-color: #e0e7ff;
}

.botoes button:nth-child(1):hover {
    background-color: #eef2ff;
}

.botoes button:nth-child(2) {
    border-radius: 9999px;
    border-color: #f3e8ff;
}

.botoes button:nth-child(2):hover {
    background-color: #faf5ff;
}