@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo {
    height: 90vh;
    width: 90vw;
    background-color: whitesmoke;
    border: 2px solid #000;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.titulo {
    font-size: 50px;
    font-family: "zen dots" , sans-serif;
    text-align: center;
}

.inputs {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.inputs input[type=range] {
    height: 60px;
}

.inputs p {
    margin-top: -25px;
    text-align: center;
}

.img-inputada {
    height: 95%;
    position: absolute;
    left: 25%;
}

.mascara-olho {
    position: absolute;
    width: 40%;
    z-index: 999;
}

.botoes {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background: transparent;
    color: black;
    padding: 20px;
    border-radius: 15px;
}

.botoes button {
    height: 50px;
    width: 120px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.botoes button:hover {
    background-color: whitesmoke;
}